<%- include('../../plantillas/cabecera.ejs') %>

    <meta name="description" content="conceptos de kubernetes">
    <title> Conceptos de Kubernetes</title>
    </head>

    <body>

        <!--navbar-->
        <%- include('../../plantillas/navbar.ejs') %>

            <!-- Page Header -->
            <!-- Sin imagen de fondo por ahora -->
            <header class="intro-header"  >
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="post-heading" style="padding: 50px 0 20px">
                                <h1>Conceptos de Kubernetes</h1>
                                <span class="meta">Glosario</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Post Content -->
            <article>
                <!-- Main Content -->
                <div class="flecha">

                    <!--acordeon articulos/barra lateral-->
                    <%- include('../../plantillas/acordeon_cursos_k8.ejs') %>

                        <div class="principal">
                            <a name="arriba"></a>
                            <h2 class="section-heading">Glosario de Conceptos</h2>

                            <p> Te recomendamos hacer una lectura rápida de este artículo, sin detenerte en algo que no entiendas, pues lo veremos y practicaremos mas adelante</p>
                            <p> También te sera útil esta pagina para revivir conceptos cada vez que lo necesites</p>


                            <h2 class="section-heading">Glosario</h2>
                            <a href="/kubernetes-conceptos#k8">&rarr; K8</a><br>
                            <a href="/kubernetes-conceptos#alta-disponibilidad">&rarr;   Alta disponiblidad </a> <br>
                            <a href="/kubernetes-conceptos#vertical">&rarr;   Escalado vertical </a><br>
                            <a href="/kubernetes-conceptos#horizontal">&rarr;   Escalado horizontal </a><br>
                            <a href="/kubernetes-conceptos#clusters">&rarr;   Clusters de computadoras </a><br>
                            <a href="/kubernetes-conceptos#pods">&rarr;   Pods </a><br>
                            <a href="/kubernetes-conceptos#nodes">&rarr;   Nodes </a><br>
                            <a href="/kubernetes-conceptos#deployments">&rarr;   Deployments </a><br>
                            <a href="/kubernetes-conceptos#control-plane">&rarr;   Control plane node </a><br>
                            <a href="/kubernetes-conceptos#etcd">&rarr;   etcd </a><br>
                            <a href="/kubernetes-conceptos#services">&rarr;   services </a><br>
                            <a href="/kubernetes-conceptos#minikube">&rarr;   Minikube </a><br>

                            <a name="k8"></a>
                            <h2 class="section-heading">K8</h2>
                            <p> Es la abreviatura de Kubernetes, k + 8 letras</p>

                            <a name="alta-disponibilidad"></a>
                            <h2 class="section-heading">Alta disponibilidad</h2>
                            <p>Es una servicio que siempre esta disponible. Las 24 horas sin un segundo de interrupciones</p>
                            <p>Sin K8 (Kubernetes), una empresa debe parar su sitio web, o un servidor de base de datos, para hacer una actualización o cualquier cambio. 
                                Con k8 eso no es necesario.
                            </p>
                            <p>Cuando hay un error y un servidor 'cae', k8 redirige el trafico a otras instancias de ese servidor, mata a la instancia caída, y genera una en su reemplazo.</p>
                             <p><b>Casos de uso:</b> Sitios de ventas online, que venden todo el dia y noche, formularios gubernamentales, sitios de películas, de juegos, etc </p>

                            <a name="vertical"></a>
                            <h2 class="section-heading">Escalado vertical</h2>
                            <p>Cuando un servidor (ya sea web, base de datos u otros), queda saturado de trabajo, genera cortes y mala experiencia de usuario. El escalado vertical consiste en aumentar la capacidad física del mismo, mas memoria RAM, mejor procesador, + recursos físicos. </p>

                            <a name="horizontal"></a>
                            <h2 class="section-heading">Escalado horizontal</h2>
                            <p> Es cuando en lugar de aumentar los recursos de un cpu, aumentamos el numero de replicas del servicio</p>
                            
                            <div class="imgContainer">
                                <img src="/img/escalado.jpeg">
                            </div>

                            <p>O sea, en lugar de que todas las tareas las haga un solo servidor, las tareas están divididas entre muchas instancias de servidor, por ejemplo: En lugar de un servidor de 8gb de ram, con 8 núcleos de procesador, podemos dividir las tareas en 8 maquinas virtuales de 1 gb de RAM y 1 nucleo cada una.</p>
                            <p> El escalado horizontal en kubernetes se refiere a 'instancias' que puede ser una app (por ejemplo) nuestra, corriendo en un contenedor docker. Por fuera del mundo k8, el escalado horizontal puede, referirse a aumentar el numero de servidores físicos no solo virtuales.</p>
                            
                            <a name="clusters"></a>
                            <h2 class="section-heading">Clusters de computadoras</h2>
                            <p>(Clusters=Racimos). Grupo de ordenadores unidos mediante red u otras conexiones, de tal forma que son vistos con un super-ordenador</p>
                            <p>Es un tema interesante y amplio para abordar, que tuvo sus origenes en la nasa en los 80's. El proyecto <b>Beowulf</b> resulto de la union de una decena de computadoras a travez de sus placas de red.</p>
                            <p>Un pc (maestro) distribuye la tarea a los exclavos, en el mundo de Kubernetes hablamos de un Control plane node y de workers. (Si Parece que entre exclavos y workers hay varias similitudes) </p>

                            <a name="pods"></a>
                            <h2 class="section-heading">Pods</h2>
                            <p>Son una abstraccion Kubernetes que representan uno o mas contenedores de aplicaciones.</p>
                            <p>Mas claro: nuestra app de nuestro sitio web, seria una imagen docker, que corre en un pode.</p>
                            <ul>
                                <li>Un pod son instancias de uno o mas contenedores.</li>
                                <li>Los pods son la unidad atómica de kubernetes</li>
                                <li>Cada pod corre en un Node.</li>
                                <li>Los pods son mortales, tienen un ciclo de vida</li>
                            </ul>        
                        
                            
                            <a name="nodes"></a>
                            <h2 class="section-heading"> Nodes en kubernetes</h2>
                            <p> Los nodes tienen 3 cosas Kubelet, docker y pods</p>
                            <p> Docker ya sabemos que es, el pod seria nuestra app 'dockerizada' y el Kubelet es el director dentro del node.</p>
                            <div class="containerK8" >
                                <img  src="/img/k8-imgs/nodes.svg">
                            </div>


                            <a name="deployments"> </a>
                            <h2 class="section-heading">Deployments</h2>
                            <p>Un deployment es un despliegue de nuestra app. Es cuando nuestra app sale al mundo y va a ser visible por el resto de los homo sapiens. (U otras especies pensantes si las hubiese)</p>

                            <a name="control-plane"> </a>
                            <h2 class="section-heading">Control plane</h2>
                            <p>Son nodos con la funcion de Coordinan todo el cluster: 
                                Mantenimiento planeado, actualizaciones, escalar aplicaciones, etc.</p>
                            <p>O sea, el cerebro detras de los nodos esclavos que ejecutan la app </p>
                            <div class="containerK8">
                                <img src="/img/k8-imgs/controlPlane.svg">
                            </div>

                            <a name="etcd"></a>
                            <h2 class="section-heading">ETCD</h2>
                            <p>Son nodos de configuracion que permiten la consistencia en el servicio.
                                Son pares key:value que cuando contratas un servicio como google cloud, OpenShift(red hat) o digital ocean, el etcd 
                                no lo ves, lo manejan ellos.</p>

                            <a name="services"></a>
                            <h2 class="section-heading">Services</h2>
                            <p> En kubernetes los pods, no son visibles desde el exterior del cluster. Los servicios son quienes los exponen hacia el mundo exterior.
                                Ejemplo: Un service que expone nuestras 3 instancias de nuestro sitio web (nuestro cluster), hacia el mundo exterior.
                                Son los End Point hacia el afuera el mundo externo.
                                Un servicio es una abstraccion kubernetes el cual define un conjunto de pods y politicas sobre como acceder a ellos.
                                Son definidos en YAML o JSON.</p>

                            <div class="containerK8">
                                <img src="/img/k8-imgs/services.png">
                            </div>

                            <a name="minikube"></a>
                            <h2 class="section-heading">Minikube</h2>
                            <p> Maquina virtual ligera, para pruebas locales (para produccion usar computadoras alojadas en la nube)</p>
                            <p> Es la herramienta gratuita de la que nos serviremos para nuestras practicas en nuestro curso </p>

                           
                            
                            <!-- Pager -->
                             <ul class="pager">
                                <li class="next">
                                    <a href="/kubernetes-minikube">Siguiente &rarr;</a>
                                </li>
                                <li class="arriba">
                                    <a href="/kubernetes-conceptos#arriba">ir arriba &uArr;</a>
                                </li>
                                <li class="next">
                                    <a href="/kubernetes-introduccion"> &larr; Anterior</a>
                                </li> 
                            </ul>
                        </div>

                        <!--Columna derecha reservada para algo-->
                        <%- include('../../plantillas/acordeon_articulos.ejs') %>
                </div>
            </article>

            <hr>

            <!--footer-->
            <%- include('../../plantillas/pies.ejs') %>

                <!-- jQuery -->
                <script src="vendor/jquery/jquery.min.js"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

                <!-- Contact Form JavaScript -->
                <script src="js/jqBootstrapValidation.js"></script>
                <script src="js/contact_me.js"></script>

                <!-- Theme JavaScript -->
                <script src="js/clean-blog.min.js"></script>

    </body>

    </html>