<%- include('../../plantillas/cabecera.ejs') %>

    <meta name="description" content="conceptos de kubernetes">
    <title> Conceptos de Kubernetes</title>
    </head>

    <body>

        <!--navbar-->
        <%- include('../../plantillas/navbar.ejs') %>

            <!-- Page Header -->
            <!-- Sin imagen de fondo por ahora -->
            <header class="intro-header"  >
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="post-heading" style="padding: 50px 0 20px">
                                <h1>Conceptos de Kubernetes</h1>
                                <span class="meta">Glosario</span>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Post Content -->
            <article>
                <!-- Main Content -->
                <div class="flecha">

                    <!--acordeon articulos/barra lateral-->
                    <%- include('../../plantillas/acordeon_cursos_k8.ejs') %>

                        <div class="principal">
                            <a name="arriba"></a>
                            
                            <h2 class="section-heading">Instalación</h2>

                            
                             <!-- Pager -->
                             <ul class="pager">
                                <li class="next">
                                    <a href="/kubernetes-minikube">Siguiente &rarr;</a>
                                </li>
                                <li class="arriba">
                                    <a href="/kubernetes-conceptos#arriba">ir arriba &uArr;</a>
                                </li>
                                <li class="next">
                                    <a href="/kubernetes-introduccion"> Home</a>
                                </li> 
                            </ul>
                        </div>

                        <!--Columna derecha reservada para algo-->
                        <%- include('../../plantillas/acordeon_articulos.ejs') %>
                </div>
            </article>

            <hr>

            <!--footer-->
            <%- include('../../plantillas/pies.ejs') %>

                <!-- jQuery -->
                <script src="vendor/jquery/jquery.min.js"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

                <!-- Contact Form JavaScript -->
                <script src="js/jqBootstrapValidation.js"></script>
                <script src="js/contact_me.js"></script>

                <!-- Theme JavaScript -->
                <script src="js/clean-blog.min.js"></script>

    </body>

    </html>