<%- include('../../plantillas/cabecera.ejs') %>

    <meta name="description" content="Curso de mysql para database administrator. DBA on mysql. Curso de data base administrator">
    <title> Database administrator</title>
    </head>

    <body>

        <!--navbar-->
        <%- include('../../plantillas/navbar.ejs') %>

            <!-- Page Header -->
            <!-- Set your background image for this header on the line below. -->
            <header class="intro-header"
                style="background-image: url('img/barrio-anime.jpeg'); text-shadow: 1px 0px black;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="post-heading">
                                <h1>Database administrator dba en Mysql</h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Post Content -->
            <article>
                <!-- Main Content -->
                <div class="flecha">

                    <!--acordeon articulos/barra lateral-->
                    <%- include('../../plantillas/acordeon_cursos_mysql.ejs') %>

                        <div class="principal">
                            <a name="arriba"></a>
                            <h2 class="section-heading">Principios para la administración de bases de datos Mysql</h2>
                           
                            <p>En este curso vamos a abarcar tres temáticas sobre el basto mundo de los dbas: Los backups, el performance y alta, baja y modificación de usuarios (abm). Todo desde el terminal</p>

                            <ul>
                                <li><a href="/mysql-backup#arriba">Backups &rarr;</a></li>
                                <li><a href="/mysql-views#arriba">Performance &rarr;</a></li>
                                <li><a href="/mysql-abm#arriba">ABM usuarios &rarr;</a></li>

                            </ul>
                            
                            <!-- Pager -->
                            <ul class="pager">
                                <li class="next">
                                    <a href="/mysql-backup#arriba'">Siguiente &rarr;</a>
                                </li>
                                <li class="next">
                                    <a href="/mysql-destructivas#arriba"> Atras &larr;</a>
                                </li> 
                                <li class="next">
                                    <a href="/mysql-dba#arriba"> Arriba &uarr;</a>
                                </li>
                            </ul>
                        </div>

                        <!--Columna derecha reservada para algo-->
                        <%- include('../../plantillas/acordeon_articulos.ejs') %>
                </div>
            </article>

            <hr>

            <!--footer-->
            <%- include('../../plantillas/pies.ejs') %>

               