<%- include('../../plantillas/cabecera.ejs') %>

    <meta name="description" content="que son las views en mysql?. Como mejorar el performance de mysql. Views en mysql. Como mejorar la velocidad de mis querys en mysql.">
    <title> Performance</title>
    </head>

    <body>

        <!--navbar-->
        <%- include('../../plantillas/navbar.ejs') %>

            <!-- Page Header -->
            <!-- Set your background image for this header on the line below. -->
            <header class="intro-header"
                style="background-image: url('img/barrio-anime.jpeg'); text-shadow: 1px 0px black;">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                            <div class="post-heading">
                                <h1>Mejorando y midiendo el performance de nuestras querys</h1>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <!-- Post Content -->
            <article>
                <!-- Main Content -->
                <div class="flecha">

                    <!--acordeon articulos/barra lateral-->
                    <%- include('../../plantillas/acordeon_cursos_mysql.ejs') %>

                        <div class="principal">
                            <a name="arriba"></a>
                            <h2 class="section-heading">Que son las views?</h2>
                           <p>En construcción</p>

                            
                            <!-- Pager -->
                            <ul class="pager">
                                <li class="next">
                                    <a href="/mysql-abm#arriba">Siguiente &rarr;</a>
                                </li>
                                <li class="next">
                                    <a href="/mysql-backup#arriba"> Atras &larr;</a>
                                </li> 
                                <li class="next">
                                    <a href="/mysql-views#arriba"> Arriba &uarr;</a>
                                </li> 
                            </ul>
                        </div>

                        <!--Columna derecha reservada para algo-->
                        <%- include('../../plantillas/acordeon_articulos.ejs') %>
                </div>
            </article>

            <hr>

            <!--footer-->
            <%- include('../../plantillas/pies.ejs') %>

                <!-- jQuery -->
                <script src="vendor/jquery/jquery.min.js"></script>

                <!-- Bootstrap Core JavaScript -->
                <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

                <!-- Contact Form JavaScript -->
                <script src="js/jqBootstrapValidation.js"></script>
                <script src="js/contact_me.js"></script>

                <!-- Theme JavaScript -->
                <script src="js/clean-blog.min.js"></script>

    </body>

    </html>